

.view {
    margin-left: 50px;
}


.gridList {
    position: relative;
    margin-left: 50px;
    width: 550px;
    height: 400px;
    float: left;
}



.icon {
    color: #FFFFFF;
    /*color: 'rgba(255, 255, 255, 0.54)';*/
}