.screen{
    margin-left: 50px;
    
  
}

.search{
  padding-bottom: 20px;

}



.MuiTextField-root{
    width: 15%;
  }


.label .MuiFormControlLabel-label{
    font-size: 1.2em;  
  }


  .grids{
      margin-top: 10px;    
      
  }
  .card{
    background-color: #e6eeff;
}

.grid-align{
    width: 60%;
}

.grid-align2{
    width: 60%;
}


